.btn {
  position: relative;
  box-sizing: border-box;
  border: none;
  outline: none;
  display: flex;
  height: 4.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: $semiBold;
  line-height: 1;
  transition: all .3s ease;
  flex-shrink: 0;
  padding: 0 1.5rem;
  cursor: pointer;

  &-green {
    color: $color-white;
    background-color: $color-green;
    &:hover {
      background-color: darken($color-green, 5%);
    }
  }
  &-light-green {
    color: $color-text;
    background-color: $color-primary;
    &:hover {
      background-color: darken($color-primary, 5%);
    }
  }
  &-black {
    color: $color-white;
    background-color: $color-black;
    &:hover {
      background-color: darken($color-black, 5%);
    }
  }
  &[disabled] {
    pointer-events: none;
  }
}
