.form {
  &__btn {
    > * {
      width: 100%;
    }
    margin-top: 3rem;
  }
  .btn {
    width: 100%;
  }
}

.form-lk-patient {
  background-color: $color-white;
  box-shadow: rgba(0, 0, 0, 0.24) 0 .3rem .8rem;
  display: flex;
  &__content {
    padding-top: 4.6rem;
    padding-left: 7rem;
    padding-right: 1rem;
    padding-bottom: 5.5rem;
    max-width: 55rem;
    flex: 1;

    @include to(1200px) {
      max-width: 47rem;
    }

    @include md-block() {
      padding-top: 3.6rem;
      padding-left: 5rem;
      padding-bottom: 3.5rem;
    }

    @include sm-block() {
      max-width: none;
      padding-left: 2.2rem;
      padding-right: 2.2rem;
      padding-top: 2.2rem;
      padding-bottom: 3rem;
    }
  }
  &__title {
    font-size: 4.5rem;
    font-weight: $bold;
    font-family: $secondFont;
    line-height: .9;
    margin-bottom: 3.3rem;

    @include to(1200px) {
      font-size: 4rem;
    }

    @include md-block() {
      font-size: 3.2rem;
    }

    @include sm-block() {
      font-size: 3rem;
    }

    @include xxs-block() {
      font-size: 2.2rem;
    }
  }
  &__form {
    input {
      margin-bottom: 2.2rem;

      @include md-block() {
        margin-bottom: 1.6rem;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
    margin-top: 3.5rem;
    .btn {
      max-width: 18rem;
      width: 100%;

      @include md-block() {
        max-width: 15rem;
      }
    }

    @include xs-block() {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 2.8rem;
      .btn {
        height: 5.3rem;
        width: 100%;
        max-width: none;
        font-size: 1.6rem;
      }
    }
  }
  &__links {
    margin-left: 3.3rem;

    @include md-block() {
      margin-left: 1.3rem;
    }

    @include xs-block() {
      margin-left: 0;
      margin-top: 2rem;
    }
    a {
      display: block;
      font-size: 1.6rem;
      font-weight: $medium;
      color: $color-grey2;
      transition: all .3s ease-in-out;

      &:hover {
        color: $color-black;
      }

      @include xs-block() {
        font-size: 1.4rem;
        margin-bottom: .5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &__img {
    flex: 1;
    position: relative;
    overflow: hidden;
    @include sm-block() {
      display: none;
    }
    &-circle {
      position: absolute;
      width: 64rem;
      height: 64rem;
      border-radius: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      //background-image: url('./images/svg/icon-circle-big.svg');
      background-image: url('./images/family.png');
      background-position: center;
      background-size: 108%;
      background-repeat: no-repeat;
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        border: 3rem solid #04ad199c;
        border-radius: 50%;
      }

    }
  }
}
