$color-border: #CFCFCF;
$color-focus: #9b9b9b;
$color-error: $color-red;

// поля ввода
*::-webkit-input-placeholder{
  color: $color-grey2;
  opacity: 1;
}
*:-moz-placeholder{
  color: $color-grey2;
  opacity: 1;
}
*::-moz-placeholder{
  color: $color-grey2;
  opacity: 1;
}
*:-ms-input-placeholder{
  color: $color-grey2;
  opacity: 1;
}
::placeholder{
  color:$color-grey2;
  font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea
{
  display: block;
  box-sizing: border-box;
  outline: none;
  border-radius: 10rem;
  padding: 0 1.5rem;
  height: 4.5rem;
  border: .3rem solid $color-border;
  transition: all .3s ease-in-out;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: inherit;
  &:hover {
    border: .3rem solid $color-focus;;
  }
  &:focus {
    border: .3rem solid $color-focus;
  }
}

textarea {
  padding: 1.5rem;
  resize: none;
  height: auto;
  font-size: 1.6rem;
}

.form-field {
  &.has-error {
    input, textarea {
      border: .1rem solid $color-error;
    }
  }
  &__label {
    display: block;
    margin-bottom: .5rem;
  }
  &__input {}
  &__messages {
    color: $color-error;
    font-size: 1.4rem;
  }

  margin-bottom: 1rem;
}
