.main-mnu {
  display: flex;
  &__item {
    flex-shrink: 0;
    margin-left: 3rem;

    @include to(1200px) {
      margin-left: 1.4rem;
    }
    @include md-block() {
      margin-left: 1rem;
    }
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 1.2rem;
      transition: all .3s ease-in-out;

      &:hover {
        color: $color-green;
      }
    }
  }
}

.sub-mnu {
  height: 43rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  &__item {
    margin: 0 5rem;
    > a {
      color: $color-green;
      font-weight: $bold;
      font-size: 2rem;
    }
    > ul {
      margin-top: 1.6rem;
      li {
        margin-bottom: 1.6rem;
        a {
          font-size: 1.4rem;
          font-weight: $medium;
          color: $color-grey6;
          transition: .3s ease-in-out all;
          &:hover {
            color: $color-black;
          }
        }
      }
    }
  }
}

.footer-mnu {
  display: grid;

  grid-template-columns: repeat(2, max-content);
  grid-column-gap: 2rem;
  justify-content: space-around;

  @include md-block() {
    grid-template-columns: max-content;
    grid-column-gap: 0;
    justify-content: end;
  }

  @include to(650px) {
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: .5rem;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: .8rem;
    a {
      transition: all .3s ease-in-out;

      &:hover {
        color: $color-green;
      }

      @include to(370px) {
        font-size: 1.2rem!important;
      }
    }
  }
}
