{% extends "layouts::main.twig" %}
{% from "@includes/macro.twig" import modal, card %}

{% block content %}
  <section class="sec sec-ad">
    <div class="container">
      <div class="cards">
        <div class="swiper">
          <div class="swiper-wrapper">
            {% for item in DATA_CARDS_AD %}
              <div class="swiper-slide">
                {{ card(
                  item.caption,
                  item.description,
                  item.title,
                  item.text,
                  item.img,
                  item.class
                ) }}
              </div>
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

  </section>


{#  {{ modal() }}#}
{% endblock %}
