$color-primary: #B6D8AF;
$color-black: #282828;
$color-white: #ffffff;
$color-red: #ff6262;
$color-green: #008030;

$color-text: $color-black;

$width-container: 1280px;

// Font Family
$baseFont: 'montserrat', sans-serif;

// Font Weight
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// Font Sizing
$baseFontSize: 1.6rem;
$baseLineHeight: 1.3;

// Path
$path-font: 'fonts';
