$color-primary: #B6D8AF;
$color-black: #282828;
$color-white: #ffffff;
$color-red: #ff6262;
$color-green: #008030;
$color-grey: #F7F7F7;
$color-grey1: #F1F3F4;
$color-grey2: #A7A7A7;
$color-grey3: #9B9B9B;
$color-grey4: #EBEBEB;
$color-grey5: #4C4C4C;
$color-grey6: #898989;
$color-grey7: #B3B3B3;
$color-grey8: #E7E8EA;

$color-text: $color-black;

$width-container: 1280px;

// Font Family
$baseFont: 'montserrat', sans-serif;
$secondFont: 'montserrat-alternates', sans-serif;

// Font Weight
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// Font Sizing
$baseFontSize: 1.6rem;
$baseLineHeight: 1.3;

// Path
$path-font: 'fonts';
