@import "cards";
@import "services";
@import "patient";
@import "news";

.sec {
  margin-bottom: 6.5rem;
  @include to(1300px) {
    margin-bottom: 4rem;
  }
  &__title {
    color: $color-white;
    background-color: $color-primary;
    border-radius: 10rem;
    padding: 1.55rem 6.7rem;
    margin-bottom: 4rem;
    @include md-block() {
      padding: 1.55rem 4rem;
    }
    @include xs-block() {
      padding: 1rem 2rem;
    }
    h3 {
      font-size: 3.2rem;
      font-weight: $semiBold;
      font-family: $secondFont;
      line-height: 1;
      @include to(1300px) {
        font-size: 2.8rem;
      }
      @include md-block() {
        font-size: 2rem;
      }
      @include xs-block() {
        font-size: 1.6rem;
      }
    }
  }
}

