.sec-doctor {
  &__about {
    display: flex;
    margin-bottom: 5rem;
    padding-left: 4.6rem;
    @include sm-block() {
      padding-left: 0;
      position: relative;
      margin-bottom: 15rem;
    }
    @include xs-block() {
      margin-bottom: 13rem;
    }
    &-img {
      flex-shrink: 0;
      width: 18rem;
      height: 18rem;
      border-radius: 50%;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      @include sm-block() {
        width: 15.3rem;
        height: 15.3rem;
      }
      @include xs-block() {

      }

      @include xxs-block() {
        width: 11.5rem;
        height: 11.5rem;
      }
    }
    &-info {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid #B3B3B3;
      padding-bottom: 1.6rem;
      position: relative;
      @include md-block() {
        padding-bottom: 2.8rem;
      }
      @include sm-block() {
        flex-direction: column;
        border-bottom: none;
        align-items: flex-start;
        padding-bottom: 0;
        position: static;
      }
      &-name {
        max-width: 27rem;
        @include md-block() {
          padding-bottom: 2rem;
        }
        @include sm-block() {
          padding-bottom: 0;
        }
      }
      &-title {
        font-size: 2.4rem;
        font-weight: $bold;
        font-family: $secondFont;
        line-height: 1.1;
        margin-bottom: 1rem;
        @include to(1200px) {
          font-size: 2.3rem;
        }
        @include md-block() {
          font-size: 2.2rem;
          margin-bottom: .5rem;
        }
        @include sm-block() {
          margin-bottom: 1rem;
        }

        @include xxs-block() {
          font-size: 1.6rem;
          margin-bottom: .5rem;
        }
      }
      &-descr {
        font-size: 1.6rem;
        @include to(1200px) {
          font-size: 1.4rem;
        }

        @include xs-block() {
          font-size: 1.2rem;
        }
      }
      &-exper {
        @include to(1200px) {
          font-size: 1.4rem;
        }
        @include md-block() {
          position: absolute;
          bottom: 2.7rem;
          left: 0;
        }
        @include sm-block() {
          position: static;
        }
        @include xs-block() {
          font-size: 1.2rem;
        }
      }
    }
    &-btns {
      display: flex;
      @include sm-block() {
        width: 100%;
        position: absolute;
        bottom: -7.8rem;
        left: 0;
      }

      .btn-like {
        flex-shrink: 0;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-right: 1.4rem;
        @include sm-block() {
          order: 1;
          margin-right: auto;
          margin-left: 1.4rem;
        }
        span {
          width: 2.3rem;
          height: 2.1rem;
          position: relative;
          top: .1rem;
        }
        .svg-heart {
          fill: $color-white;
        }
      }

      .btn-green {
        width: 18rem;
        @include sm-block() {
          order: 0;
          width: auto;
          flex: 1;
        }

        //@include xs-block() {
        //  font-size: 1.4rem;
        //  height: 3.5rem;
        //}
        //
        //@include xxs-block() {
        //  font-size: 1.2rem;
        //  height: 3rem;
        //}
      }
    }
    .sec-doctor__right {
      align-self: center;
    }
  }
  &__details {
    display: flex;
    margin-bottom: 5rem;
    padding-left: 4.6rem;
    &-name {
      font-size: 1.8rem;
      font-weight: $bold;
      @include md-block() {
        font-size: 1.6rem;
      }
    }
    &-descr {
      font-size: 1.4rem;
      line-height: 1.5;
      p {
        display: block;
        margin-bottom: 1.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &-user {
      p {
        font-size: 1.4rem;
        font-weight: $bold;
        display: block;
        margin-bottom: .5rem;
      }
      span {
        font-size: 1.0rem;
        font-weight: $medium;
        display: block;
      }
    }

    @include sm-block() {
      padding-left: 0;
    }

    @include xs-block() {
      flex-direction: column;
      margin-bottom: 3rem;
      .sec-doctor__left {
        margin-bottom: 1rem;
      }
      .sec-doctor__right {}
    }
  }
  &__review-btn {
    margin-top: 7rem;
    .btn {
      max-width: 18rem;
      margin: 0 auto;
    }
  }

  &__form {
    margin-top: 8rem;
  }

  &__left {
    flex-shrink: 0;
    width: 18.5rem;
    margin-right: 3rem;
    @include sm-block() {
      width: 16rem;
    }
    @include xxs-block() {
      width: 12rem;
      margin-right: 1.5rem;

    }
  }
  &__right {
    flex: 1;
  }
}
