.sec-patient {
  position: relative;
  padding-bottom: 10rem;
  margin-top: 3rem;

  .sec__title {
    margin-bottom: 6rem;

    @include md-block() {
      margin-bottom: 4rem;
    }

    @include xs-block() {
      margin-bottom: 3rem;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 32rem;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: $color-primary;
  }
  > * {
    position: relative;
    z-index: 1;
  }
  &__services {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 2.3fr;
    grid-gap: 3.5rem;

    @include to(1200px) {
      grid-column-gap: 2.5rem;
      grid-row-gap: 3.5rem;
    }

    @include md-block() {
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 3rem;
    }

    @include xs-block() {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
    }

    @include to(360px) {
      grid-template-columns: 1fr;
    }

    &-item {
      box-shadow: rgba(0, 0, 0, 0.24) 0 .3rem .8rem;
      border-radius: 2.9rem;
      background-color: $color-white;
      position: relative;
      padding-top: 79%;
      padding-left: 2.1rem;
      overflow: hidden;
      > span {
        position: absolute;
        bottom: 2.7rem;
        font-size: 2.4rem;
        font-weight: $bold;
        font-family: $secondFont;
        line-height: .9;
        white-space: pre-line;

        @include to(1200px) {
          font-size: 2.2rem;
        }

        @include xxs-block() {
          font-size: 1.6rem;
          bottom: 1.7rem;
        }

        @include to(360px) {
          font-size: 2.2rem;
          bottom: 2.7rem;
        }

      }

      @include to(1200px) {
        grid-column-gap: 2.5rem;
        padding-left: 1rem;
      }

      @include xxs-block() {
        padding-left: 2rem;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -9.4rem;
        right: -4.5rem;
        margin: auto;
        width: 100%;
        height: 100%;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include xxs-block() {
          top: -4.4rem;
          right: -3.5rem;
        }
      }
      &_analize {
        &:after {
          background-image: url('./images/svg/icon-patient-analize.svg');
          @include to(1200px) {
            top: -6.4rem;
            right: -3.5rem;
          }

        }
      }
      &_promo {
        &:after {
          width: 90%;
          height: 90%;
          top: -6.4rem;
          right: -4.5rem;
          background-image: url('./images/svg/icon-patient-promo.svg');
        }
      }
      &_doc {
        &:after {
          width: 65%;
          height: 65%;
          top: -0.3rem;
          right: -2.5rem;
          background-image: url('./images/svg/icon-patient-doc.svg');

          @include xxs-block() {
            top: -0.3rem;
            right: -2.5rem;
          }
        }
      }
      &_address {
        &:after {
          width: 75%;
          height: 75%;
          top: -5.3rem;
          right: -1.5rem;
          background-image: url('./images/svg/icon-patient-address.svg');

          @include xxs-block() {
            top: -2.3rem;
            right: -3.5rem;
          }
        }
      }
      &_call {
        &:after {
          width: 70%;
          height: 70%;
          top: -2.3rem;
          right: -3.5rem;
          background-image: url('./images/svg/icon-patient-call.svg');

          @include xxs-block() {
            top: -2.3rem;
            right: -3.5rem;
          }
        }
      }
      &_all {
        background-color: $color-green;
        span {
          color: $color-white;
        }
      }
    }
    .services-rate {
      grid-column: 4 / 4;
      grid-row: 1 / 3;
      padding: 3.4rem 2rem 2rem 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include to(1200px) {
        padding: 2rem 2rem 2rem 2rem;
      }

      @include md-block() {
        padding: 3.4rem 2rem 2rem 2rem;
        grid-column: 1 / span 3;
        grid-row: 3 / 3;
        margin-top: 2rem;
      }

      @include xs-block() {
        grid-column: 1 / span 2;
        grid-row: 4 / 4;
      }

      @include to(360px) {
        grid-column: 1 / 1;
        grid-row: auto;
      }

      &__logo {
        position: static;
        width: 22.9rem;
        height: 5.4rem;
        white-space: normal;
        margin-bottom: 3rem;
        .svg-logo-rate {
          --opacityLogoPath: 0.3;

          color: $color-green;
          width: 100%;
          height: 100%;
        }

        @include to(1200px) {
          width: 17.2rem;
          height: 3.6rem;
        }

        @include md-block() {
          width: 23.5rem;
          height: 5.4rem;

          margin-bottom: 2rem;
        }

        @include xxs-block() {
          width: 14.5rem;
          height: 3.4rem;
        }
      }
      &__title {
        font-size: 4.5rem;
        font-weight: $bold;
        font-family: $secondFont;
        line-height: .9;
        color: $color-green;
        margin-bottom: .8rem;

        @include to(1200px) {
          font-size: 3.4rem;
        }

        @include md-block() {
          font-size: 4rem;

          br {
            display: none;
          }
        }

        @include xxs-block() {
          font-size: 2.7rem;
        }
      }
      &__text {
        max-width: 39rem;
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: $normal;

        @include to(1200px) {
          font-size: 1.4rem;
        }

        @include md-block() {
          font-size: 1.6rem;
          margin-bottom: 2.2rem;
        }

        @include xxs-block() {
          font-size: 1.4rem;
        }
      }
      &__contacts {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        > a {
          font-size: 1.6rem;
          font-weight: $normal;
          @include to(1200px) {
            font-size: 1.4rem;
          }

          @include md-block() {
            font-size: 1.6rem;
          }

          @include xxs-block() {
            font-size: 1.4rem;
          }
        }
      }
      &__soc {
        margin-top: 1.2rem;
        @include md-block() {
          justify-content: center;
        }

        .soc-item {
          @include xxs-block() {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
  .form-lk-patient {
    margin-bottom: 8.3rem;
    @include to(1200px) {
      margin-bottom: 6.9rem;
    }
    @include md-block() {
      margin-bottom: 3.4rem;
    }

    @include xs-block() {
      margin-bottom: 8rem;
    }
    @include xxs-block() {
      margin-bottom: 6rem;
    }
  }
}

.sec-patients {
  .sec-patient {
    &__services {
      margin-bottom: 10rem;
      @include sm-block() {
        margin-bottom: 8rem;
      }
      &-item {
        background-color: $color-grey;
        &_all {
          background-color: $color-green;
        }
      }
    }
  }
  &__articles {
    h3 {
      display: block;
      text-align: center;
      line-height: 1.3;
      color: $color-black;
      font-size: 3rem;
      font-weight: $semiBold;
      font-family: $secondFont;
      margin-bottom: 6rem;
      @include sm-block() {
        margin-bottom: 3.8rem;
      }
      @include xs-block() {
        text-align: left;
      }
    }
    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5rem;
      @include md-block() {
        grid-gap: 3rem;
      }
      @include sm-block() {
        grid-template-columns: repeat(2, 1fr);
      }
      @include xs-block() {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
      }
    }
    &-item {
      position: relative;
      &.open {
        @include xs-block() {
          .sec-patients__articles-item-arrow {
            transform: rotate(0deg);
          }
          ul {
            display: block!important;
            margin-bottom: 2rem;
          }
        }

      }
      > p {
        font-size: 1.2rem;
        font-weight: $medium;
        text-transform: uppercase;
        display: block;
        margin-bottom: 1.5rem;
        position: relative;
      }
      ul {
        @include xs-block() {
          display: none;
        }
        li {
          position: relative;
          padding-left: 2rem;
          line-height: 1;

          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 1rem;
            top: .9rem;
            margin: auto;
            background-color: $color-black;
            width: .3rem;
            height: .3rem;
            border-radius: 50%;
          }

          a {
            text-decoration: underline;
            font-size: 1.2rem;
            font-weight: $medium;
            line-height: 1;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
      &-arrow {
        @include xs-block() {
          position: absolute;
          top: .5rem;
          right: 0;
          width: 1.5rem;
          height: .7rem;
          background-image: url('/images/svg/icon-arrow.svg');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          transform: rotate(-180deg);
          transition: .3s ease-in-out all;
          z-index: -1;
        }
      }
    }
  }
}
